<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moudy.alshafie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlShafie"
        tools:targetApi="31">
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.SettingsActivitys.RateUs"
            android:exported="false" />
        <activity
            android:name=".Ui.SettingsActivitys.Help"
            android:exported="false" />
        <activity
            android:name=".Ui.StepsActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.SettingsActivitys.PrivacyPolicy"
            android:exported="false"
            android:theme="@style/Theme.AlShafie.NoActionBar" />
        <activity
            android:name=".Ui.SettingsActivitys.ContactUs"
            android:exported="false" />
        <activity
            android:name=".Ui.SettingsActivitys.TermsofService"
            android:exported="false" />
        <activity
            android:name=".Ui.SetUpAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.WelcomeActivity"
            android:exported="true" />

        <receiver
            android:name=".Worker.recevier.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>